[package]
name = "desktop"
version = "0.1.0"
edition = "2021"

[dependencies]
dioxus = { workspace = true, features = ["desktop", "router", "document"] }
ui = { workspace = true, features = ["desktop"] }

[features]
default = ["desktop"]
desktop = ["dioxus/desktop"]
